/* base styles */

body {
  font-family: helvetica;
  font-size: 18px;
}

/* site styles */

header {
  background: #444;
  height: 150px;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

.inner img {
  float: left;
  margin-top: 15px;
  margin-top: 20px;
  width: 325px;
  height: 110px;
  float: left;
}

.inner ul li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 68px;
  list-style: none;
}

.inner a {
  color: #fff;
  font-family: helvetica;
  text-decoration: none;
  margin-left: 45px;
  font-size: 20px;
}

.inner h1 {
  position: absolute;
  top: 53px;
  width: 327px;
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 36px;
  color: white;
  text-shadow: 4px 4px #000;
}
.clearfix {
  clear:both;
}

section,footer {
  font-family: helvetica!important;
}

section {
  /*height: 150px;*/
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

section h1 {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 2px;
}

.section_two {
  width:100%;
  text-align:center
}
.merchandise-item {
  display: inline-block;
  padding-bottom: 75px;
  margin: 20px;
}

.shirt {
  width: 300px;
  height: 300px;
}

.salmon_cookies {
  width: 300px;
  height: 300px;
}

/* Footer Content */
footer {
  background-color: #444;
  font-family: helvetica;
  height: 150px;
  color: white;
}

footer p {
	font-size: 24px;
	font-weight: 100;
  padding-top: 40px;
  padding-left: 200px;
  line-height: 18px;
}
/* End Footer Content*/

/* FA Icons */
.fa-icons {
  float: right;
	font-size: 45px;
  color:white;
  padding-right: 200px;
  margin-top: -45px;
}

.header-active {
	color:white;
}
